<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="assets/perfil.jpg" alt="Foto de Perfil" class="img-fluid rounded-circle mb-3">
      <h1>Gabriel Marques</h1>
      <p class="lead">Objetivo Profissional</p>
      <p>
        Uma vez, ouvi dizer que a maioria das pessoas tem somente um trabalho, mas que profissionais
        excelentes possuem uma missão que vai muito além de seus trabalhos específicos.
        É como eu me sinto. Sou um professional que se apaixona pelos projetos. Um professional que
        não se satisfaz com seu papel específico, que gosta de se adentrar em todos os ângulos, que
        vai muito além do óbvio na busca por excelência. Mas, consciente que a excelência não é um
        destino, mas um caminho contínuo de aprendizado.
        Eu amo melhorar cada aspecto envolto nas minhas responsabilidades, ter contato com todas as
        ferramentas, frameworks, macros, plugins e tudo mais que possa melhorar minha produtividade.
        Adoro encontrar novos meios de aperfeiçoar a eficiência do time e compartilhar com meus
        pares, trazendo sempre a máxima eficiência pra equipe.
        Bom, eu amo trabalhar com TI e entregar o meu melhor em todos os projetos. Essa é minha
        missão, aprender e melhorar a cada dia, fazendo o que eu amo.
      </p>
      <p class="lead">Endereço</p>
      <p>Av São Paulo, 2175, Vila Velha / ES - Brasil</p>
      <p class="lead">Contatos</p>
      <p>
        <a href="mailto:seu@email.com">marques.gabriel.1989@gmail.com</a>
      </p>
      <p>(27) 99504-7129 (Somente Whatsapp)</p>
    </div>
    <div class="col-md-8">
      <div class="row" style="margin-top: 20px;">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="justify-content: center;">
                <h1 class="display-4 text-center text-primary font-weight-bold">Experiências Profissionais</h1>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="timeline">
              <li>
                <h3>Foursys</h3>
                <p class="text-muted">TECH LEAD JAVA (backend)</p>
                <p class="text-muted">Período de trabalho: desde junho de 2020 </p>
                <p>
                  Entendimento, design e engenharia de soluções, apresentação de soluções de projetos
                  (com diagramação de solução via plantuml).
                  Atuação e acompanhamento de tarefas de desenvolvimento relacionadas a design e
                  implementação de soluções, qualidade de código, revisão de código, testes unitários,
                  gerenciamento de repositórios, análise de logs, apoio a gestão de ambientes
                  pré-produtivos, análise e debug de códigos, análise de bugs. Liderança da equipe de
                  desenvolvimento, direcionando a equipe na atuação e conclusão de tarefas, garantindo
                  que todos consigam realizar as entregas em tempo hábil (apoiando, ensinando, tirando
                  dúvidas e direcionando, ajudando todos a superarem problemas técnicos).
                  Sempre fomentando a produtividade do time e gestão de conhecimento.
                  Atuando na metodologia scrum, aderentes ao uso de JIRA.
                </p>
              <li>
                <h3>Grupo Europa (5 anos e 7 meses)</h3>
                <p class="text-muted">DESENVOLVEDOR FULL STACK SÊNIOR NO GRUPO EUROPA</p>
                <p class="text-muted">Período de trabalho: Jul 2018 - Jun 2020 · 2 anos</p>
                <p>
                  Trabalho como tech lead/dev senior. A empresa era uma fábrica de software. A atuação
                  era como full stack, com contato com muitass tecnologias, passando por c# (a principal
                  tecnologia), java, javascript, jquery, razor (.net), angular e muitos outros. Contato
                  também com DIVERSAS tecnologias de banco de dados relacionais (postgree, sql server,
                  oracle, mySql). Trabalhei também com android (proeficiência moderada) e iOS
                  (conhecimentos básicos).
                  Aqui, as tarefas eram relacionadas ao desenvolvimento, implementações, testes,
                  qualidade de código e participação no design de solução, liderando o time de
                  desenvolvimento e alguns projetos (pela natureza de fábrica de software, atuáva em
                  multiplos projetos). Desenvolvimento, integração, code review, testes unitários e
                  tarefas relacionadas.
                </p>
                <br>
                <p class="text-muted">DESENVOLVEDO FULL STACK PLENO</p>
                <p class="text-muted">Período de trabalho: Ago 2016 - Jun 2018 · 1 ano e 11 meses</p>
                <p>
                  Desenvolvedor full stack em .net. Atuação em projetos como desenvolvedor full stack.
                </p>
                <br>
                <p class="text-muted">DESENVOLVEDO FULL STACK JUNIOR</p>
                <p class="text-muted">Período de trabalho: Jul 2015 - Fev 2017 · 1 ano 8 meses</p>
                <p>
                  Desenvolvedor full stack em .net. Atuação em projetos como desenvolvedor full stack.
                  Participação em projetos front-end web, com forte atuação no backend. Desenvolvendo
                  algoritmos e implementando lógicas de negócio, incluindo atuação com sql, apoiando o
                  desenvolvimento de software.
                </p>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion style="justify-content: center;">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="justify-content: center;">
                <h1 class="display-4 text-center text-primary font-weight-bold">Habilidades Técnicas</h1>
              </mat-panel-title>

            </mat-expansion-panel-header>
            <ul class="list-group">
              <li class="list-group-item list-group-item-secondary">Java (full stack)</li>
              <li class="list-group-item list-group-item-secondary">.NET (full stack)</li>
              <li class="list-group-item list-group-item-secondary">
                Bibliotecas, frameworks e ferramentas
              </li>
              <ul mat-accordion>
                <li class="list-group-item list-group-item-primary" mat-expansion-panel hideToggle>Frameworks spring (batch, boot, jms
                  e etc)
                </li>
                <li class="list-group-item list-group-item-primary">Swagger</li>
                <li class="list-group-item list-group-item-primary">Hibernate</li>
                <li class="list-group-item list-group-item-primary">JPA</li>
                <li class="list-group-item list-group-item-primary">Bootstrap</li>
                <li class="list-group-item list-group-item-primary">Jquery</li>
                <li class="list-group-item list-group-item-primary">Angular</li>
                <li class="list-group-item list-group-item-primary">JavaScript</li>
                <li class="list-group-item list-group-item-primary">Quartz</li>
                <li class="list-group-item list-group-item-primary">Testng</li>
                <li class="list-group-item list-group-item-primary">Junit</li>
                <li class="list-group-item list-group-item-primary">Jenkins</li>
                <li class="list-group-item list-group-item-primary">Bamboo</li>
                <li class="list-group-item list-group-item-primary">Bancos de dados relacionais
                  (Microsoft SQL Server, MySQL, PostgreSQL, Oracle, Postgree, etc)
                </li>
              </ul>
              <li class="list-group-item list-group-item-secondary">API’s Rest</li>
              <li class="list-group-item list-group-item-secondary">Qualidade de código</li>
              <ul>
                <li class="list-group-item list-group-item-primary">Automatização de testes
                <li class="list-group-item list-group-item-primary">Métricas de qualidade código</li>
                <li class="list-group-item list-group-item-primary">Melhores práticas de qualidade de
                  código (design patterns)
                </li>
              </ul>
              <li class="list-group-item list-group-item-secondary">Conhecimento de fluxos de trabalho
                (principalmente orientado ao jira)
              </li>
              <li class="list-group-item list-group-item-secondary">Experiência com diversas
                tecnologias, que permite a absorção de novas tecnologias com as quais ainda não
                trabalhei com certa facilidade
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

      </div>


      <div class="row">
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title style="justify-content: center;">
                <h1 class="display-4 text-center text-primary font-weight-bold">Formações</h1>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="timeline">
              <li>
                <h3>Sistemas de Informações</h3>
                <p class="text-muted">Instituição: Universidade Vila Velha</p>
                <p class="text-muted">Período de estudo: 2014 – 2018</p>
              </li>
              <li>
                <h3>Direito</h3>
                <p class="text-muted">Instituição: Universidade Vila Velha</p>
                <p class="text-muted">Período de estudo: 2007 - 2012</p>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>

<style>
  .icon {
    margin-right: 10px;
  }
</style>
